@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-family-teachers: 'Teachers', sans-serif;
    --font-family-lexend: 'Lexend', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --font-family-rubik: 'Rubik', sans-serif;
    --color-orange-500: #ff7f50;
    --color-neutral-400: #a0aec0;
    --color-neutral-700: #2d3748;
}
